body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}

.navbar {
  padding: 1vh 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e9ecef;

  h2 {
    font-size: 1.5rem;
    font-weight: 400;
  }
}